
@import "./main.css";

body {
  width: 100%;
  position: relative;
}
::selection {
  background: #1b1b1b;
  color: #fff;
}
.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  background: #fff;
  z-index: 9;
}
.links-container {
  display: flex;
  list-style: none;
}
.link {
  padding: 10px;
  margin-left: 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}

.blog-image{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.content .text {
    position: relative;
    height: fit-content;
    padding-bottom: 0;
}
.text{
  min-height: auto;
  height: fit-content;
  padding: 0 10px;
  white-space: normal;
}
.title{
  text-align: center;
}
.text *{
  margin: 30px 0;
  color: 2d2d2d;
}

.timer{
  font-family: 'Poppins';
  width: 450px;
  height: 170px;
  margin: auto;
  padding: 20px;

}
.timer .flipdown{
  margin: auto;
  text-align: center;
}
.timer .flipddown h2{
  text-align: center;
  font-size: 100px;
  text-transform: uppercase;
  color: fff;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.flipdown.flipdown__theme-dark .rotor-group-heading:before {
  color: #fff;
}

.rotor-group-heading {
  margin-bottom: 10px;
}

.flipdown.flipdown__theme-dark .rotor-bottom, .flipdown.flipdown__theme-dark .rotor-leaf-rear {
  color: #000;
  background-color: #fff;
}

.flipdown.flipdown__theme-dark .rotor, .flipdown.flipdown__theme-dark .rotor-top, .flipdown.flipdown__theme-dark .rotor-leaf-front {
  color: #000;
  background-color: #fff;
}

.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before, .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  background-color: #fff;
}
content p{
  margin: 30px 0;
  color: #2d2d2d;
}